body {
	height: 100%;
	margin: 0;
	width: 100%;
}

h1 {
	font-size: 1.0rem;
  	font-family: Palatino, 'Palatino Linotype', serif;
  	color: black;
}

h2 {
	font-size: 56px;
}

.hero {
	color: #ffffff;
	padding: 250px 0;
	margin: 30px;
  	background-image: url("https://content.codecademy.com/projects/make-a-website/lesson-2/bg.jpg");
  	background-size: cover;
}	

